.saved-cats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .saved-cat-card {
    position: relative;
    margin-bottom: 20px;
    background-color: #d9d9d9;
    padding: 15px;
    border-radius: 15px;
  }
  
  .remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .remove-btn:focus {
    outline: none;
  }
  
  .saved-cat-card img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .no-saved-cats {
  
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    
    
    
  }
  